body, html {
  height: 100%;
}
.bg { 
  /* The image used */
  background-image: url("../index.2/images/beach-dawn-dusk-1144176.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: scroll;
  height: 1000px;
}
.primary{
    font-family: Roboto, sans-serif;
    font-size: 30px;
    text-align: center;
    color: brown;
    border-radius: 10px;
}
.summary{
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 20px;
    color:whitesmoke;
}
.summary span{
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 15px;
    color: white; 
}
.first_story{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: whitesmoke;
}
.background_title{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color:whitesmoke;
}
.non_tech_jobs li{
    font-family: Roboto, sans-serif;
    font-size: 18px;  
    color:whitesmoke; 
}
.non_tech_jobs p{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:white;  
}
.tech_job ul{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color: white;  
}
h2 {
    font-family: Roboto, sans-serif;
    font-size: 20px; 
    color: rgb(165, 48, 48);  
   }

.interact h2 {
    font-family: Roboto, sans-serif;
    font-size: 20px; 
    color: rgb(56, 177, 159);  
   }
.skill_set ul{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:white;
    display: inline-block;
    text-align: left;
}
.skill_summary{
    font-family: Roboto, sans-serif;
    font-size: 25px; 
    color:brown;
    text-align: center;
}
.tech_skills ul{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color: white;
    display: inline-block;
    text-align: left;
}
.tech_list{
    font-family: Roboto, sans-serif;
    font-size: 25px; 
    color: brown;
    text-align: center;
}
.interact{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:black;
}
.intuit{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:black;
}
.palm{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:black;
}
.netflix{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:black;
}
.ujet{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:white;
}

/* unvisited link */
 a:link {
    color: red;
    }
/* visited link */
 a:visited {
  color: green;
}
/* mouse over link */
 a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: blue;
}
