body, html {
  height: 100%;
}
.background { 
  /* The image used */
  background-image: url("../index.1/images/abstract-art-background-696644.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.name{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-align: center;
    color: wheat;
    border: 3px inset black;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 10;
    position: relative;
    width: 100%;
   
}
.title {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 20px;
    color:whitesmoke;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px 10px;

}
.byline {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 20px;
    color:whitesmoke;
    background-color:red;
    border-radius: 10px;
    padding: 10px 20px;  
}
.summary span{
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 15px;
    border: 3px inset orchid;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    background-image: url('../WebsiteProject/images/art-artistic-color-1190446.jpg');
}
.description{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: whitesmoke;
}
.background_title{
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color:whitesmoke;
    text-align: center;
}
.non_tech_jobs li{
    font-family: Roboto, sans-serif;
    font-size: 18px;  
    font-weight: bold;
    color:whitesmoke; 
    display: inline-block;
}

.non_tech_jobs p{
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color:white;  
}
table, th, td{
    border: 2px solid black;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    box-align: center
}
.boxes{
    position: absolute;
    top: 20px;
    left: 50px;
}
