
.grid {
    display: grid;

}header, footer {
  /*background-color: #ffa500;*/
  text-align: center;
  align-self: auto;
  min-width: 500px;
  position: float;
  height: 100px;
  padding-top: 1px;
}

h1{
    font-family: Montserrat, sans-serif;
    color: orange;
    font-size: 50px;
    background-color: black;
    border-radius: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  margin-top: 40px;
  grid-auto-rows: 500px;
  justify-self: center;
  align-self: center;
  /*justify-items: center;*/
  justify-content: space-between;
  /*align-items: flex-start;*/
  height: 1600px;
  align-content: flex-start;
}

h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffa500;
  padding: 10px 0px 10px 10px;
  text-align: center;
}

img {
  width: 75%;
  height: auto;
  border-radius: 20px;
  padding: 2px;
  border: 2px solid gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: center;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  min-width: 500px;
  margin: auto;
}

footer {
  margin-top: 300px;
}